<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <div class="widget-table-wrapper">
        <table class="widget-table">
            <f:for each="{duplicates}" as="duplicate">
                <tr>
                    <td>
                        <f:format.raw>
                            <f:translate key="LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.duplicatefiles.text" arguments="{0: duplicate.sha1, 1: duplicate.counting}" /><br />
                        </f:format.raw>
                        <small>
                            <f:for each="{duplicate.files}" as="file">
                                <div style="margin-bottom: 5px;">
                                    <f:link.file
                                        file="{file}"
                                        target="_blank"
                                        title="{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.duplicatefiles.openOriginalFile')}"
                                    ><f:media file="{file}" width="100c" height="50c"/></f:link.file>
                                    <f:be.link
                                        route="show_item"
                                        parameters="{table: '_FILE', uid: '{file.storage.storageRecord.uid}:{file.identifier}'}"
                                        target="_blank"
                                    >{file.identifier}</f:be.link>
                                </div>
                            </f:for>
                        </small>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>

</f:section>
<f:section name="footer">

</f:section>
</html>
