<html
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:layout name="Widget/Widget" />
<f:section name="main">
    <f:if condition="{duplicates}">
        <f:then>
            <div class="widget-table-wrapper">
                <table class="widget-table">
                    <thead>
                        <tr>
                            <th width="2%"></th>
                            <th width="70%"></th>
                            <th width="15%"><f:translate key="LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.duplicateFiles.control" /></th>
                            <th width="10%"><f:translate key="LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.duplicateFiles.referenceCount" /></th>
                        </tr>
                    </thead>
                    <f:for each="{duplicates}" as="duplicate">
                        <tr>
                            <td colspan="4">
                                <table style="width: 100%; margin:0; padding:0;">
                                    <f:for each="{duplicate.files}" as="duplicate">
                                        <tr style="background-color: initial;">
                                            <td width="2%" style="padding:0;">
                                                <core:iconForResource resource="{duplicate.file}" />
                                            </td>
                                            <td width="70%" style="word-break: break-word;">
                                                {duplicate.file.identifier}<br />
                                                <f:if condition="{duplicate.isImage}">
                                                    <f:media file="{duplicate.file}" width="150c" height="75c" />
                                                </f:if>
                                            </td>
                                            <td width="15%">
                                                <f:if condition="!{duplicate.file.missing}">
                                                    <f:then>
                                                        <div class="btn-group position-static">
                                                            <f:link.file
                                                                file="{duplicate.file}"
                                                                target="_blank"
                                                                title="{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.duplicateFiles.openOriginalFile')}"
                                                                class="btn btn-default btn-sm"
                                                            >
                                                                <core:icon identifier="actions-eye" />
                                                            </f:link.file>

                                                            <f:be.link
                                                                route="show_item"
                                                                parameters="{table: '_FILE', uid: '{duplicate.file.storage.storageRecord.uid}:{duplicate.file.identifier}'}"
                                                                target="_blank"
                                                                title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:showInfo')}"
                                                                class="btn btn-default btn-sm"
                                                            >
                                                                <core:icon identifier="actions-document-info" />
                                                            </f:be.link>

                                                            <f:be.link
                                                                route="file_FilelistList"
                                                                parameters="{id: duplicate.file.parentFolder.combinedIdentifier, searchTerm: duplicate.file.name}"
                                                                title="{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.duplicateFiles.openFileList')}"
                                                                class="btn btn-default btn-sm"
                                                            >
                                                                <core:icon identifier="actions-search" />
                                                            </f:be.link>
                                                        </div>
                                                    </f:then>
                                                    <f:else>
                                                        <span class="text-danger" title="{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:fileMissing.description')}">
                                                            <f:translate key="LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:fileMissing" />
                                                        </span>
                                                    </f:else>
                                                </f:if>
                                            </td>
                                            <td width="10%" style="text-align: right; padding-right: 6px;">
                                                {duplicate.referenceCount}
                                            </td>
                                        </tr>
                                    </f:for>
                                </table>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="sitegeist-widget-mirror_info-wrapper">
                <p class="sitegeist-widget-mirror_empty-widget">
                    <core:icon identifier="actions-rocket" size="large" /><br />
                    <f:translate key="LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.duplicateFiles.empty" />
                </p>
            </div>
        </f:else>
    </f:if>
</f:section>
<f:section name="footer">

</f:section>
</html>
