<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Widget/Widget" />
<f:section name="main">
    <f:if condition="{pages}">
        <f:then>
            <div class="widget-table-wrapper">
                <table class="widget-table">
                    <f:for each="{pages}" as="page">
                        <tr>
                            <td style="padding-right:0;">
                                <span title="id={page.uid}">
                                    <core:iconForRecord table="pages" row="{page}" />
                                </span>
                            </td>
                            <td>
                                <f:if condition="{page.rootline}">
                                    <small style="color: dimgray;"
                                        title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/backend.xlf:widgets.lastChangedPages.pagetree')}"
                                    >
                                        {page.rootline}</small><br />
                                </f:if>
                                {page.title}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <f:be.link
                                        route="record_history"
                                        parameters="{element: 'pages:{page.uid}'}"
                                        class="btn btn-default btn-sm"
                                        title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/backend.xlf:widgets.lastChangedPages.recordHistory')}"
                                    >
                                        <core:icon identifier="actions-history" />
                                    </f:be.link>

                                    <a href="{page.viewLink}"
                                        class="btn btn-default btn-sm"
                                        title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.showPage')}"
                                        target="_blank"
                                    >
                                        <core:icon identifier="actions-view-page" />
                                    </a>

                                    <f:be.link
                                        route="web_layout"
                                        parameters="{id: page.uid}"
                                        class="btn btn-default btn-sm"
                                        title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/backend.xlf:widgets.lastChangedPages.editPageContent')}"
                                    >
                                        <core:icon identifier="actions-document-edit" />
                                    </f:be.link>

                                    <be:link.editRecord
                                        uid="{page.uid}"
                                        table="pages"
                                        class="btn btn-default btn-sm"
                                        title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:editPage')}"
                                        returnUrl="{f:be.uri(route: 'dashboard')}"
                                    >
                                        <core:icon identifier="actions-page-open" />
                                    </be:link.editRecord>
                                </div>
                            </td>
                            <td>
                                <span style="white-space: nowrap;">{page.tstamp -> f:format.date(format: dateFormat)}</span><br />
                                {page.userName}
                            </td>
                        </tr>
                    </f:for>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="sitegeist-editor-widgets_info-wrapper">
                <p class="sitegeist-editor-widgets_empty-widget">
                    <core:icon identifier="actions-history" size="large" /><br />
                    <f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/backend.xlf:widgets.lastChangedPages.empty" />
                </p>
            </div>
        </f:else>
    </f:if>
</f:section>
<f:section name="footer">

</f:section>
</html>
