<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:rd="http://typo3.org/ns/TYPO3/CMS/Redirects/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Widget/Widget" />
<f:section name="main">
    <f:if condition="{redirects}">
        <f:then>
            <div class="widget-table-wrapper">
                <table class="widget-table">
                    <tr>
                        <th>{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.latestRedirects.sourceDomain')}</th>
                        <th>{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.latestRedirects.sourcePath')}</th>
                        <th>{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.latestRedirects.sourceTarget')}</th>
                        <th>{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.latestRedirects.statusCode')}</th>
                        <th>{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.latestRedirects.hitCount')}</th>
                        <th>{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.latestRedirects.lastHit')}</th>
                        <th>{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.latestRedirects.updated')}</th>
                        <th></th>
                    </tr>
                    <f:for each="{redirects}" as="redirect">
                        <tr>
                            <td>{redirect.source_host}</td>
                            <td>
                                <core:iconForRecord table="sys_redirect" row="{redirect}" />
                                {redirect.source_path -> f:format.crop(maxCharacters:100)}
                            </td>
                            <td>
                                <f:link.typolink parameter="{redirect.target}" target="_blank">
                                    <f:uri.typolink parameter="{redirect.target}" /> [{rd:targetPageId(target:redirect.target)}]
                                </f:link.typolink>
                            </td>
                            <td>{redirect.target_statuscode}</td>
                            <td>{redirect.hitcount}</td>
                            <td>
                                <f:if condition="{redirect.lasthiton}">{redirect.lasthiton -> f:format.date()}</f:if>
                            </td>
                            <td>{redirect.updatedon -> f:format.date()}</td>
                            <td>
                                <div class="btn-group">
                                    <be:link.editRecord
                                        returnUrl="{f:be.uri(route: 'dashboard')}"
                                        class="btn btn-default btn-sm"
                                        table="sys_redirect"
                                        uid="{redirect.uid}"
                                        title="{f:translate(key: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.latestRedirects.edit')}"
                                    >
                                        <core:icon identifier="actions-open" />
                                    </be:link.editRecord>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="sitegeist-widget-mirror_info-wrapper">
                <p class="sitegeist-widget-mirror_empty-widget">
                    <core:icon identifier="modulegroup-tools" size="large" /><br />
                    <f:translate key="LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.latestRedirects.empty" />
                </p>
            </div>
        </f:else>
    </f:if>

</f:section>
<f:section name="footer">

</f:section>
</html>
