.sitegeist-editor-widgets_info-wrapper {
    display: grid;
    height: 100%;
}

.sitegeist-editor-widgets_empty-widget {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: large;

    .icon {
        height: 80px;
        width: 80px;
        line-height: 100px;
        color: #FF8700;
        margin-bottom: 20px;
    }
}

.widget-table-group-striped>tbody>tr.group-even>*{--typo3-table-bg-type:color-mix(in srgb, var(--typo3-table-bg), var(--typo3-table-color) 3%)}
