services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Sitegeist\WidgetMirror\:
    resource: '../Classes/*'

  dashboard.widget.sitegeist.widget_mirror.storageSize:
    class: 'Sitegeist\WidgetMirror\Widgets\StorageSizeWidget'
    arguments:
      $view: '@dashboard.views.widget'
    tags:
      - name: dashboard.widget
        identifier: sitegeist.widget_mirror.storageSize
        groupNames: systemInfo
        title: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.storageSize.title'
        description: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.storageSize.description'
        iconIdentifier: 'widget-mirror'
        height: 'medium'
        width: 'small'

  dashboard.widget.sitegeist.widget_mirror.unusedFiles:
    class: 'Sitegeist\WidgetMirror\Widgets\UnusedFilesWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $connectionPool: '@TYPO3\CMS\Core\Database\ConnectionPool'
    tags:
      - name: dashboard.widget
        identifier: sitegeist.widget_mirror.unusedFiles
        groupNames: systemInfo
        title: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.unusedFiles.title'
        description: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.unusedFiles.description'
        iconIdentifier: 'widget-mirror'
        height: 'medium'
        width: 'medium'

  dashboard.widget.sitegeist.widget_mirror.duplicateFiles:
    class: 'Sitegeist\WidgetMirror\Widgets\DuplicateFilesWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $connectionPool: '@TYPO3\CMS\Core\Database\ConnectionPool'
    tags:
      - name: dashboard.widget
        identifier: sitegeist.widget_mirror.duplicateFiles
        groupNames: systemInfo
        title: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.duplicateFiles.title'
        description: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.duplicateFiles.description'
        iconIdentifier: 'widget-mirror'
        height: 'medium'
        width: 'medium'

  dashboard.widget.sitegeist.widget_mirror.lastChangedPages:
    class: 'Sitegeist\WidgetMirror\Widgets\LastChangedPagesWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $connectionPool: '@TYPO3\CMS\Core\Database\ConnectionPool'
    tags:
      - name: dashboard.widget
        identifier: sitegeist.widget_mirror.lastChangedPages
        groupNames: systemInfo
        title: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.lastChangedPages.title'
        description: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.lastChangedPages.description'
        iconIdentifier: 'widget-mirror'
        height: 'medium'
        width: 'medium'

  dashboard.widget.sitegeist.widget_mirror.newestRedirects:
    class: 'Sitegeist\WidgetMirror\Widgets\NewestRedirectsWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $connectionPool: '@TYPO3\CMS\Core\Database\ConnectionPool'
    tags:
      - name: dashboard.widget
        identifier: sitegeist.widget_mirror.newestRedirects
        groupNames: systemInfo
        title: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.newestRedirects.title'
        description: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.newestRedirects.description'
        iconIdentifier: 'widget-mirror'
        height: 'medium'
        width: 'medium'

  dashboard.widget.sitegeist.widget_mirror.brokenLinks:
    class: 'Sitegeist\WidgetMirror\Widgets\BrokenLinksWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $connectionPool: '@TYPO3\CMS\Core\Database\ConnectionPool'
    tags:
      - name: dashboard.widget
        identifier: sitegeist.widget_mirror.brokenLinks
        groupNames: systemInfo
        title: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.brokenLinks.title'
        description: 'LLL:EXT:widget_mirror/Resources/Private/Language/backend.xlf:widgets.brokenLinks.description'
        iconIdentifier: 'widget-mirror'
        height: 'large'
        width: 'medium'
