<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget" />
<f:section name="main">
    <f:if condition="!{error} && ({brokenLinks} || {suppressedBrokenLinks})">
        <f:then>
            <div class="widget-table-wrapper">
                <table class="widget-table">
                    <tr>
                        <th><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.tableHead.element" /></th>
                        <th><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.tableHead.path" /></th>
                        <th><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.tableHead.headlink" /></th>
                        <th><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.tableHead.linktarget" /></th>
                        <th><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.tableHead.linkmessage" /></th>
                        <th><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.tableHead.lastCheck" /></th>
                    </tr>

                    <f:for each="{brokenLinks}" as="brokenLink">
                        <f:render section="brokenLinkRecord" arguments="{brokenLink: brokenLink}"></f:render>
                    </f:for>

                    <tr><td colspan="7"><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.suppressedRecords" /></td></tr>
                    <f:for each="{suppressedBrokenLinks}" as="brokenLink">
                        <f:render section="brokenLinkRecord" arguments="{brokenLink: brokenLink}"></f:render>
                    </f:for>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="sitegeist-editor-widgets_info-wrapper">
                <p class="sitegeist-editor-widgets_empty-widget">
                    <f:if condition="{error}">
                        <f:then>
                            <core:icon identifier="actions-exclamation-circle" size="large" /><br />
                            <f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.error" />
                        </f:then>
                        <f:else>
                            <core:icon identifier="actions-rocket" size="large" /><br />
                            <f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.empty" />
                        </f:else>
                    </f:if>
                </p>
            </div>
        </f:else>
    </f:if>
</f:section>
<f:section name="footer">

</f:section>
</html>

<f:section name="brokenLinkRecord">
    <tr class="text-break {f:if(condition: brokenLink.suppressed, then: 'opacity-50')}" data-uid="{brokenLink.persistentUid}">
        <td>
            <span title="id={brokenLink.record_uid}">
                <core:iconForRecord table="{brokenLink.table_name}" row="{brokenLink}" />
            </span>
            <f:if condition="{brokenLink.isWorkspaceRecord}">
                <span title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.isWorkspaceRecord')}">
                    <core:icon identifier="apps-toolbar-menu-workspace" size="small" />
                </span>
            </f:if>
            <be:link.editRecord
                uid="{brokenLink.record_uid}"
                table="{brokenLink.table_name}"
                title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.edit')}"
                returnUrl="{f:be.uri(route: 'dashboard')}"
            >
                {brokenLink.headline -> f:format.crop(maxCharacters: 80)}
            </be:link.editRecord>
        </td>
        <td>{brokenLink.path -> f:format.raw()}</td>
        <td>{brokenLink.link_title -> f:format.raw()}</td>
        <td>
            <a href="{brokenLink.linkTarget}"
                target="_blank"
                rel="noreferrer"
                title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.open')}"
            >
                {brokenLink.linkTarget}
            </a>
        </td>
        <td>
            <f:if condition="{brokenLink.linkMessage}">
                <f:then>
                    <span class="text-danger">{brokenLink.linkMessage -> f:format.htmlspecialchars() -> f:format.nl2br()}</span>
                </f:then>
                <f:else>
                    <span class="text-success">
                        <f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.success" />
                    </span>
                </f:else>
            </f:if>
        </td>
        <td>
            <span class="nowrap">{brokenLink.last_check -> f:format.date(format: dateFormat)}</span>
            <f:if condition="{brokenLink.needs_recheck}">
                <br /><span class="error"> ({f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.needsRecheck')})</span>
            </f:if>
        </td>
        <td>
            <div class="btn-group position-static">
                <be:link.editRecord
                    class="btn btn-default btn-sm"
                    uid="{brokenLink.record_uid}"
                    table="{brokenLink.table_name}"
                    title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.edit')}"
                    returnUrl="{f:be.uri(route: 'dashboard')}"
                >
                    <core:icon identifier="actions-open" />
                </be:link.editRecord>
                <f:variable name="labelSuppress"><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.suppress" /></f:variable>
                <f:variable name="labelRelease"><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.brokenLinks.release" /></f:variable>
                <button
                    type="button"
                    class="btn btn-default btn-sm t3js-record-hide"
                    data-datahandler-action="visibility"
                    data-datahandler-table="tx_editor_widgets_broken_link"
                    data-datahandler-uid="{brokenLink.persistentUid}"
                    data-datahandler-field="suppressed"
                    data-datahandler-status="{f:if(condition: brokenLink.suppressed, then: 'visible', else: 'hidden')}"
                    data-datahandler-visible-label="{labelRelease}"
                    data-datahandler-visible-value="1"
                    data-datahandler-visible-icon="actions-check-square"
                    data-datahandler-hidden-label="{labelSuppress}"
                    data-datahandler-hidden-value="0"
                    data-datahandler-hidden-icon="actions-check-square-alt"
                    title="{f:if(condition: brokenLink.suppressed, then: labelRelease, else: labelSuppress)}"
                >
                    <core:icon identifier="{f:if(condition: brokenLink.suppressed, then: 'actions-check-square', else: 'actions-check-square-alt')}" />
                </button>
            </div>
        </td>
    </tr>
</f:section>
