<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Widget" />
<f:section name="main">
    <f:if condition="{duplicates}">
        <f:then>
            <div class="widget-table-wrapper">
                <table class="table table-hover widget-table-group-striped">
                    <thead>
                        <tr>
                            <th class="col-title" colspan="2"><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.duplicateFiles.column.file" /></th>
                            <th class="col-control nowrap"><span class="visually-hidden"><f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.duplicateFiles.column.control" /></span></th>
                        </tr>
                    </thead>
                    <f:for each="{duplicates}" as="duplicateGroup" iteration="groupIterator">
                        <f:for each="{duplicateGroup}" as="duplicate">
                            <tr class="{f:if(condition: groupIterator.isEven, then: 'group-odd', else: 'group-even')}">
                                <td class="col-thumbnail">
                                    <f:if condition="{options.showThumbnails} && {duplicate.file.image}">
                                        <div><f:media file="{duplicate.file}" width="{options.thumbnailWidth}" height="{options.thumbnailHeight}" /></div>
                                    </f:if>
                                </td>
                                <td class="col-title col-word-break">
                                    {duplicate.file.storage.storageRecord.name}: {duplicate.file.identifier} <br>
                                    <f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.duplicateFiles.column.referenceCount" />: {duplicate.referenceCount}
                                </td>
                                <td class="col-control nowrap">
                                    <div class="btn-group position-static">
                                        <f:link.file
                                            file="{duplicate.file}"
                                            target="_blank"
                                            title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:openOriginalFile')}"
                                            class="btn btn-default btn-sm"
                                        >
                                            <core:icon identifier="actions-eye" />
                                        </f:link.file>
                                        <a
                                            href="#"
                                            data-dispatch-action="TYPO3.InfoWindow.showItem"
                                            data-dispatch-args-list="_FILE,{duplicate.file.storage.storageRecord.uid}:{duplicate.file.identifier}"
                                            title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:showInfo')}"
                                            class="btn btn-default btn-sm"
                                        >
                                            <core:icon identifier="actions-document-info" />
                                        </a>
                                        <f:be.link
                                            route="media_management"
                                            parameters="{id: duplicate.file.parentFolder.combinedIdentifier, searchTerm: duplicate.file.name}"
                                            title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:openFileList')}"
                                            class="btn btn-default btn-sm"
                                        >
                                            <core:icon identifier="actions-search" />
                                        </f:be.link>
                                    </div>
                                </td>
                            </tr>
                        </f:for>
                    </f:for>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="callout callout-info">
                <div class="callout-icon">
                    <span class="icon-emphasized">
                        <core:icon identifier="actions-approve" />
                    </span>
                </div>
                <div class="callout-content">
                    <f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.duplicateFiles.empty" />
                </div>
            </div>
        </f:else>
    </f:if>
</f:section>
<f:section name="footer">
</f:section>
</html>
