<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:rd="http://typo3.org/ns/TYPO3/CMS/Redirects/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Widget" />
<f:section name="main">
    <f:if condition="{redirects}">
        <f:then>
            <div class="widget-table-wrapper">
                <table class="widget-table">
                    <tr>
                        <th>{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.latestRedirects.sourceDomain')}</th>
                        <th>{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.latestRedirects.sourcePath')}</th>
                        <th>{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.latestRedirects.sourceTarget')}</th>
                        <th>{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.latestRedirects.statusCode')}</th>
                        <th>{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.latestRedirects.hitCount')}</th>
                        <th>{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.latestRedirects.lastHit')}</th>
                        <th>{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.latestRedirects.updated')}</th>
                        <th></th>
                    </tr>
                    <f:for each="{redirects}" as="redirect">
                        <tr>
                            <td>{redirect.source_host}</td>
                            <td>
                                <core:iconForRecord table="sys_redirect" row="{redirect}" />
                                {redirect.source_path -> f:format.crop(maxCharacters:100)}
                            </td>
                            <td>
                                <f:variable name="targetUri" value="{f:uri.typolink(parameter:redirect.target)}" />
                                <f:link.typolink
                                    parameter="{redirect.target}"
                                    target="_blank"
                                    title="{f:translate(key: 'LLL:EXT:redirects/Resources/Private/Language/locallang_module_redirect.xlf:visit_destination')} {f:if(condition: targetUri, then:targetUri, else:redirect.target)}"
                                >
                                    {f:if(condition: targetUri, then:targetUri, else:redirect.target)}
                                </f:link.typolink>
                                <f:variable name="pageRow" value="{rd:targetPageRecord(target:redirect.target)}" />
                                <f:if condition="{pageRow}">(<f:translate key="LLL:EXT:redirects/Resources/Private/Language/locallang_module_redirect.xlf:pageID"/>:
                                    <be:link.editRecord
                                        table="pages"
                                        uid="{pageRow.uid}"
                                        title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:edit')}: {redirect.source_path}"
                                    ><core:iconForRecord table="pages" row="{pageRow}" /> {pageRow.uid}</be:link.editRecord>)
                                </f:if>
                            </td>
                            <td>{redirect.target_statuscode}</td>
                            <td>{redirect.hitcount}</td>
                            <td>
                                <f:if condition="{redirect.lasthiton}">{redirect.lasthiton -> f:format.date()}</f:if>
                            </td>
                            <td>{redirect.updatedon -> f:format.date()}</td>
                            <td>
                                <div class="btn-group">
                                    <be:link.editRecord
                                        returnUrl="{f:be.uri(route: 'dashboard')}"
                                        class="btn btn-default btn-sm"
                                        table="sys_redirect"
                                        uid="{redirect.uid}"
                                        title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.latestRedirects.edit')}"
                                    >
                                        <core:icon identifier="actions-open" />
                                    </be:link.editRecord>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="sitegeist-editor-widgets_info-wrapper">
                <p class="sitegeist-editor-widgets_empty-widget">
                    <core:icon identifier="actions-rocket" size="large" /><br />
                    <f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/locallang.xlf:widgets.latestRedirects.empty" />
                </p>
            </div>
        </f:else>
    </f:if>

</f:section>
<f:section name="footer">

</f:section>
</html>
