<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget" />
<f:section name="main">
    <f:if condition="{files}">
        <f:then>
            <div class="widget-table-wrapper">
                <table class="widget-table">
                    <f:for each="{files}" as="file">
                        <tr>
                            <td style="padding-right:0;">
                                <core:iconForResource resource="{file}" />
                            </td>
                            <td style="word-break: break-word;">
                                {file.identifier}
                                <f:if condition="{file.type} == 2">
                                    <br /><f:image image="{file}" width="150c" height="75c" />
                                </f:if>
                            </td>
                            <td>
                                {file.size -> f:format.bytes()}
                            </td>
                            <td>
                                <f:if condition="!{file.missing}">
                                    <f:then>
                                        <div class="btn-group position-static">
                                            <f:link.file
                                                file="{file}"
                                                target="_blank"
                                                title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/backend.xlf:openOriginalFile')}"
                                                class="btn btn-default btn-sm"
                                            >
                                                <core:icon identifier="actions-eye" />
                                            </f:link.file>

                                            <a
                                                href="#"
                                                data-dispatch-action="TYPO3.InfoWindow.showItem"
                                                data-dispatch-args-list="_FILE,{file.storage.storageRecord.uid}:{file.identifier}"
                                                title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:showInfo')}"
                                                class="btn btn-default btn-sm"
                                            >
                                                <core:icon identifier="actions-document-info" />
                                            </a>

                                            <f:be.link
                                                route="file_FilelistList"
                                                parameters="{id: file.parentFolder.combinedIdentifier, searchTerm: file.name}"
                                                title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/backend.xlf:openFileList')}"
                                                class="btn btn-default btn-sm"
                                            >
                                                <core:icon identifier="actions-search" />
                                            </f:be.link>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <span class="text-danger" title="{f:translate(key: 'LLL:EXT:editor_widgets/Resources/Private/Language/backend.xlf:fileMissing.description')}">
                                            <f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/backend.xlf:fileMissing" />
                                        </span>
                                    </f:else>
                                </f:if>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="sitegeist-editor-widgets_info-wrapper">
                <p class="sitegeist-editor-widgets_empty-widget">
                    <core:icon identifier="actions-rocket" size="large" /><br />
                    <f:translate key="LLL:EXT:editor_widgets/Resources/Private/Language/backend.xlf:widgets.unusedFiles.empty" />
                </p>
            </div>
        </f:else>
    </f:if>
</f:section>
<f:section name="footer">

</f:section>
</html>
